<div class = "mt-4">
    <form method="post" action="search">
        <div class="form-group">
            <label for="search-input">Họ Và Tên </label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa vào đây ...">
        </div>     

        <div class="form-group">
            <label for="search-input">Tuổi </label>
            <input type="text" name="age" class="form-control" id="search-input" placeholder="Nhập từ khóa vào đây ...">
        </div>     
        <button type="submit" class="btn btn-primary">Xác nhận </button>
        <div class="form-group">
            <label for="gender-input">Nhập từ khóa </label>
            <select name="gender" class="form-control" id="gender-input" >
                <option value="">--Chọn giới tính--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>          
        </div> 
  
        <button type="submit" class="btn btn-primary">Tìm kiếm </button>
    </form>
</div>